.summary {
    text-align: center;
    padding: 0 32px;
}

.summary-list {
    text-align: initial;
    margin: 32px;
    padding: 0 32px;
    list-style-type: none;
}
.summary-list > li {
    margin: 16px 0;
}
.summary-list-value {
    float: right;
}