$bg-color-primary: #ff9525;
$bg-color-primary-soft: #fff1e8;
$bg-color-secondary: #adadad;

$bg-color-light-grey: #d2d2d2;

$text-color-dark: #000;
$text-color-light: #fff;
$text-color-correct: palegreen;
$text-color-current: moccasin;
$text-color-incorrect: lightpink;
